<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Signal User Request</h1>
    <p>
      From: <%= @first_name %> <%= @last_name %>
    <p>
      <hr>
    <p>
      <strong>Email:</strong> <%= @email %>
    </p>
    <p>
      <strong>Phone Number:</strong> <%= @phone_number %>
    </p>
    <p>
      <strong>Telegram Username:</strong> <%= @telegram_username %>
    </p>
  
  </body>
</html>